html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.main form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 10px;
    padding: 16px;
    gap: 16px;

}

.main form h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.main form div {
    display: flex;
    flex-direction: column;
}

.main form div label {
    font-size: 12px;
}



